[package]
name = "api-rust"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = ["prisma-cli"]
resolver = "2"

[dependencies]
axum = {version= "0.6.20", features = ["macros"]}
hyper = {version = "0.14.27", features = ["full"]}
serde = {version = "1.0.188", features = ["derive"]}
serde_json = "1.0.105"
tokio = {version = "1.32.0", features = ["full"]}
tower = "0.4.13"
dotenv = "0.15.0"
prisma-client-rust = { git = "https://github.com/Brendonovich/prisma-client-rust", tag = "0.6.9" }
prisma-client-rust-cli = { git = "https://github.com/Brendonovich/prisma-client-rust", tag = "0.6.9" }
reqwest = { version = "0.11", features = ["blocking"] }
chrono = "0.4"
validator = { version = "0.15", features = ["derive"] }
utoipa = {version="4" , features = ["chrono", "debug"]}
utoipa-redoc = { version = "1", features = ["axum"] }
uuid = { version = "1.5.0", features = ["serde", "v4"] }
axum_typed_multipart = "0.10.1"
axum-valid = "0.11.0"
lazy_static = "1.4.0"
regex = "1.10.2"

